<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <header th:replace="fragments :: header"></header>

<!--    <p th:text="${errorMsg}" style="color:red"></p>-->

    <form method="post" th:object="${event}">
        <div class="form-group">
            <label>Name
                <input type="text" th:field="*{name}" class="form-control"/>
            </label>
            <p class="error" th:errors="*{name}"></p>
        </div>
        <div class="form-group">
            <label>Description
                <input type="text" th:field="*{description}" placeholder="Enter event description..." class="form-control"/>
            </label>
            <p class="error" th:errors="${event.description}"></p>
        </div>
        <div class="form-group">
            <label>Contact Email
                <input type="text" th:field="${event.contactEmail}" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.contactEmail}"></p>
        </div>
        <div class="form-group">
            <label>Location
                <input type="text" th:field="${event.location}" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.location}"></p>
        </div>
        <div class="form-group">
            <label>Is registration required?
                <input type="checkbox" th:field="${event.registrationRequired}" class="form-control" checked/>
            </label>
            <p class="error" th:errors="${event.registrationRequired}"></p>
        </div>
        <div class="form-group">
            <label>Number of Attendees
                <input type="number" th:field="${event.numberOfAttendees}" class="form-control" min="1"/>
            </label>
            <p class="error" th:errors="${event.numberOfAttendees}"></p>
        </div>
        <div class="form-group">
            <label>Date of Event
                <input type="date" th:field="${event.dateOfEvent}" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.dateOfEvent}"></p>
        </div>

        <input type="submit" value="Create" class="btn btn-success"/>
    </form>

<!--Testing out whether the whole page knows that event is the th:object. (It does.)-->
    <p class="testing" th:text="*{'Testing: ' + id}"></p>

</body>
</html>