<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <header th:replace="fragments :: header"></header>

    <p th:text="${errorMsg}" style="color:red"></p>

    <form method="post">
        <label>Name
            <input type="text" name="name" class="form-control"/>
        </label>
        <label>Description
            <input type="text" name="description" placeholder="Enter event description..." class="form-control"/>
        </label>
        <label>Contact Email
            <input type="text" name="contactEmail" class="form-control"/>
        </label>
        <input type="submit" value="Create" class="btn btn-success"/>
    </form>

</body>
</html>