<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <header th:replace="fragments :: header"></header>

    <p th:unless="${events} and ${events.size()}">No events!</p>

    <table class="table table-striped">
        <tr>
            <th>Event name</th>
            <th>Description</th>
            <th>Address</th>
            <th>Image</th>
        </tr>
        <th:block th:each="event : ${events}">
            <tr>
                <td th:text="${event.name}"></td>
                <td th:text="${event.description}"></td>
                <td th:replace="fragments :: address">This is the address</td>
                <td><img th:src="@{/palmtree.jpg}" alt="Palm Tree" height="70px" width="auto"></td>
            </tr>
        </th:block>
    </table>

</body>
</html>