<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <header th:replace="fragments :: header"></header>

    <p th:unless="${events} and ${events.size()}">No events!</p>

    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Event Name</th>
            <th>Description</th>
            <th>Contact Email</th>

            <th>Location</th>
            <th>Number of Attendees</th>
            <th>Date of Event</th>
            <th>Registration Required</th>

            <th>Image</th>
        </tr>
        <th:block th:each="event : ${events}">
            <tr>
                <td th:text="${event.id}"></td>
                <td th:text="${event.name}"></td>
                <td th:text="${event.description}"></td>
                <td th:text="${event.contactEmail}"></td>
                <td th:text="${event.location}"></td>
                <td th:text="${event.numberOfAttendees}"></td>
                <td th:text="${event.dateOfEvent}"></td>
<!--                <td th:text="${event.registrationRequired}"></td>-->
                <td th:if="${event.registrationRequired}">Yes</td>
                <td th:unless="${event.registrationRequired}">No</td>

                <td><img th:src="@{/palmtree.jpg}" alt="Palm Tree" height="70px" width="auto"></td>
                <td><a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a></td>
            </tr>
        </th:block>

    </table>

</body>
</html>